html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: red;
  flex-direction: column;
}

/* Main Container starts */

.main-container {
  width: 60%;
  margin: 5vh auto;
}
.players {
  width: 90%;
  margin: 2vh auto;
  justify-content: space-between;
  display: flex;
}
.player {
  margin: 1vh;
  width: 25%;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  font: 3vh bolder;
}
.player h2,
h1 {
  margin: 1vh;
}
.button {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5vh auto;
}
button {
  padding: 2vh;
  margin: 1vh 2vh;
  width: 20%;
  border: 0;
  background-color: black;
  color: white;
  border-radius: 1vh;
  font: 4vh bolder;
  cursor: pointer;
}
.scoreboard {
  background-color: white;
  padding: 2vh;
  margin: 2vh auto;
  border: 5px solid black;
  border-radius: 5px;
  text-align: center;
  font: 4vh bolder;
}
.player-score {
  display: flex;
  justify-content: space-evenly;
  margin: 1vh auto;
  padding: 1vh;
}
.player-head {
  font: 4vh bolder;
  width: 30%;
  background-color: black;
  text-align: center;
  color: white;
  margin: 1vh;
  padding: 1vh;
}
.playerx-score {
  padding: 1vh;
  font: 4vh bolder;
  width: 40%;
  background-color: black;
  text-align: center;
  margin: 1vh;
  color: white;
}
#result {
  text-align: center;
}

/* Main Container ends */
